//----------------------------------------------------------------
//                      VARIÁVEIS DE CORES
//----------------------------------------------------------------


$verdeOFC: #0F523B;
$cor-verdeEscuro: #066330;
$cor-verde: #10b45a;

$cor-azul: #092f4f;
$cor-azul-claro: #1c5377;
$cor-azul2: #5271FF;

$cor-dasenha: #1233c5;

$cor-preto: #212121;
$cor-cinza-claro: #f2f2f2;
$cor-branco: #ffffff;

$cor-amarelo: #f6fa06;
$cor-amareloESC: #FFDA00;

$cor-textoFooter: #f0f9ff;
$cor-fundoFooter: #282d32;

//----------------------------------------------------------------
//                      TIPOS DE FONTE DE TEXTO
//----------------------------------------------------------------

/// Família de fonte regular
/// @type Lista
$fonte-principal: 'Roboto Slab', serif, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$fonte-secundaria: 'League Spartan', serif, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


