@use '../utils/variables.scss' as var;

//Bloco de Botões
.button-group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  //Espaço entre os botões
  .button {
    margin-right: 16px;
  }
}

// Estilos de botão
.button {
  border: 0;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}


.button-copiarSenha {
    background-color: var.$cor-azul;
    color: var.$cor-branco;

  &:hover {
    background-color: var.$cor-azul2;
    color: var.$cor-preto;
    border: 1px solid var.$cor-azul;
  }
}






.button-gerarSenha {
  background-color: var.$cor-verdeEscuro;
  color: var.$cor-branco;

  &:hover {
    background-color: var.$cor-verde;
    color: var.$cor-preto;
  }
}


